<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.abread" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ab fb2 reader</name>
    <description>
        A simple application that helps you to learn languages.
    </description>
    <author email="inferrna@gmail.com" href="http://borgu.org">
        Inferrna
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <preference name="fullscreen" value="true" />
    <plugin name="org.apache.cordova.plugin.Proxy" value="org.apache.cordova.plugin.Proxy" />
    <preference name="webviewbounce" value="true" />
    <preference name="CRIInjectFirstFiles" value="www/scripts/init.js" />
</widget>
