  .revgradient {
    color: rgb(248,248,248);
    background-image:         linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);
    background-image:      -o-linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);
    background-image:    -moz-linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);
    background-image: -webkit-linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);
    background-image:     -ms-linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);

    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0,   #1e1a15),
        color-stop(0.5, #272420),
        color-stop(1,   #231e18)
    );
  }
  .gradient {
    color: rgb(0,0,0);
    background-image:         linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);
    background-image:      -o-linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);
    background-image:    -moz-linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);
    background-image: -webkit-linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);
    background-image:     -ms-linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);

    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0,   #b99d7f),
        color-stop(0.5, #ead8c1),
        color-stop(1,   #d7b693)
    );
  }

