/*  @font-face {
  font-family: "Frutiger LT Pro";
  font-style: normal;
  font-weight: bold;
  src:url("data:font/otf;");
  }*/
  .bar {background: #679;}
  input { padding: 2px; }
  input[type=file] { padding: 2px; width: 50%; border: 2px solid orange; border-radius: 2px;}
  label { padding: 2px; }
  select { padding: 2px; }
  scrollbar { overflow-y: scroll; top: 0; right:0; display: none; height: 100%; position: fixed; }
  .pincher {
    overflow: hidden;
    position: relative;
    align: center;
    left: 45%;
    height: 4px;
    width: 10px;
    bottom: 0px;
    background-color: #AABBCC;
    border-radius: 5px;
  }
  #pop {
    display: none;
    align: left;
    text-align: left;
    /*-webkit-flex-direction: column;
    flex-direction: column;
    flex-grow: 3;
    -webkit-flex-grow: 3;*/
    width: 100%;
    background-clip: padding-box;
    background-color: #FFF;
    /*box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);*/
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: auto;
    overflow: hidden;
    margin-left: 0px;
    position: fixed;
    /*left: -100%;*/
    outline: medium none;
    z-index: 128;
    margin:1px;
  }
  .flex {
    position: relative;
    top: 1px;
    padding: 1px;
    display: -webkit-flex;
    display: flex;
    z-index: 1;
  }
  .flex > div
  {
      overflow:hidden;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;

      width: 100%; /* To make the transition work nicely.  (Transitions to/from
                      "width:auto" are buggy in Gecko and Webkit, at least.
                      See http://bugzil.la/731886 for more info.) */

  }
  .popflex {
    position: relative;
    top: 1px;
    display: -webkit-flex;
    display: flex;
  }
  .popflex > div
  {
      background-color: #EEEEEE;
      overflow:hidden;
      width: 100%; /* To make the transition work nicely.  (Transitions to/from
                      "width:auto" are buggy in Gecko and Webkit, at least.
                      See http://bugzil.la/731886 for more info.) */

  }
  .dpopflex {
    position: relative;
    top: 1px;
    padding: 1px;
    display: -webkit-flex;
    display: flex;
  }
  .dpopflex > div
  {
      background-color: #111111;
      overflow:hidden;
      width: 100%; /* To make the transition work nicely.  (Transitions to/from
                      "width:auto" are buggy in Gecko and Webkit, at least.
                      See http://bugzil.la/731886 for more info.) */

  }
  .hrefs {
    position:absolute;
    bottom: 5px;
  }
  .spflex {
    height: auto;
    align: left;
    text-align: left;
    margin: 1px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    /*max-height: 60%;*/
    border: 1px solid #555;
    border-radius: 0 0 3px 3px;
    background-color: rgba(255,255,255,0.6666);
  }
  .spflex div > span {
    /*align-content: stretch;
    -moz-align-content: stretch
    -webkit-align-content: stretch;*/
    width: 16em;
    -webkit-flex: 1 1 auto;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .spflex div > span > input {
    white-space: nowrap;
    width: 8em;
  }
  .spflex div > span > label {
    white-space: nowrap;
    width: 8em;
  }
  .spflex > div {
    width: 100%;
    background-color: rgba(255,255,255,0.1);
  }

  .bcol {
    padding: 4pt;
    overflow:hidden;
    font-size:0.75em;
    word-wrap:normal;
    position: relative;
    min-height: 98% !important;
    min-width: 98%;
    width: 98%;
    right: 4pt;
    margin-left: 1px;
    margin-right: 1px;
/*    text-shadow:#aaa 0px 0.3px 0, #aaa 0px -0.3px 0px, #aaa 0.3px 0px 0px, #aaa -0.3px 0px 0px;*/
  }
  .revgradient {
    color: rgb(248,248,248);
    background-image:         linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);
    background-image:      -o-linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);
    background-image:    -moz-linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);
    background-image: -webkit-linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);
    background-image:     -ms-linear-gradient(right, #1e1a15  0%, #272420 50%, #231e18 100%);

    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0,   #1e1a15),
        color-stop(0.5, #272420),
        color-stop(1,   #231e18)
    );
  }
  .gradient {
    color: rgb(0,0,0);
    background-image:         linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);
    background-image:      -o-linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);
    background-image:    -moz-linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);
    background-image: -webkit-linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);
    background-image:     -ms-linear-gradient(right, #b99d7f  0%, #ead8c1 50%, #d7b693 100%);

    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0,   #b99d7f),
        color-stop(0.5, #ead8c1),
        color-stop(1,   #d7b693)
    );
  }
